<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="elGuille.BuscarTexto.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <elGuille.BuscarTexto.My.MySettings>
            <setting name="Location" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="Filtro" serializeAs="String">
                <value>*.*</value>
            </setting>
            <setting name="Directorio" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="conSubDir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnorarError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textoBuscar1" serializeAs="String">
                <value />
            </setting>
            <setting name="textoBuscar2" serializeAs="String">
                <value />
            </setting>
            <setting name="textoPoner1" serializeAs="String">
                <value />
            </setting>
            <setting name="textoPoner2" serializeAs="String">
                <value />
            </setting>
            <setting name="opcionBuscar" serializeAs="String">
                <value>Solo uno</value>
            </setting>
            <setting name="ultimosDirectorios" serializeAs="String">
                <value>C:\|E:\gsCodigo_00\VS2005; E:\gsCodigo_00\VS2008</value>
            </setting>
            <setting name="ultimosBuscar1" serializeAs="String">
                <value />
            </setting>
            <setting name="ultimosBuscar2" serializeAs="String">
                <value />
            </setting>
            <setting name="ultimosPoner1" serializeAs="String">
                <value />
            </setting>
            <setting name="ultimosPoner2" serializeAs="String">
                <value />
            </setting>
            <setting name="ultimosFiltros" serializeAs="String">
                <value>*.*| *.zip; *.rar</value>
            </setting>
            <setting name="chkBuscarTexto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="expanderBuscarExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="expanderFicheroExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkFecha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fecha" serializeAs="String">
                <value />
            </setting>
            <setting name="chkPoner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="distinguirMay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lvCol1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="lvCol2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FechaTipoBusc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chkBuscarMismaLinea" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tsbMostrarResultados" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dirConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="usarMisDocumentos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkPermitirReemplazar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkHacerCopiaReemplazar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DirBackupReemplazar" serializeAs="String">
                <value />
            </setting>
            <setting name="Extensiones" serializeAs="String">
                <value>.txt; .ini; .vb; .cs; .c; .h; .hpp; .cpp; .bas; .frm; .cls; .sql; .js; .aspx; .asp; .htm; .pl; .php; .xml; .xaml; .sln; .vbp; .vbproj; .csproj</value>
            </setting>
            <setting name="ExtensionesNo" serializeAs="String">
                <value>.*; .com; .exe; .dll; .lib; .tlb; .bin; .ocx; .zip; .rar; .cab; .jpg; .png; .gif; .tif; .ico; .bmp</value>
            </setting>
            <setting name="chkPalabrasCompletas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkExcluirDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtExcluirDir" serializeAs="String">
                <value>_vti; _private</value>
            </setting>
            <setting name="chkGuardarAutomaticamente" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkMultiple" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AbrirCon" serializeAs="String">
                <value>"E:\ISOs guilleAcer5930\Instalar (registrados)\TextPad\TextPad portable\TextPad.exe"</value>
            </setting>
        </elGuille.BuscarTexto.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
